<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Magic</title>
    <link rel="stylesheet" type="text/css" href="createGoatStyleSheet.css">


</head>
<body bgcolor="#fff8dc">

<h1> Your goat has been created!</h1>
<BODY>
<IMG SRC="https://media3.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy.gif?cid=790b7611804e98679abd2dc4f100c0f5edd2f83160919713&rid=giphy.gif">
</BODY>
<br>
<div>
    <form action = "/login">
    <button type="submit">Return to login</button>
    </form>
</div>
<style>
    h1 {
        font-size: 30px;
        font-family: "Comic Sans MS";
    }

    button {
        font-family: "Comic Sans MS";
    }
</style>

</body>
</html>