<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>GoatGrindr</title>
    <link rel="stylesheet" href="/generalStylesheet.css">
    <link rel="stylesheet" href="/indexStylesheet.css">
</head>
<body>
</form>
<div id="board">
    <h6>-------------------------------------------------------------------------</h6>
    <p th:inline="text">Signed in as: [[${#httpServletRequest.remoteUser}]]</p>
    <form action = "/updategoat">
        <button type="submit">Update Goat Profile</button>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <h6>-------------------------------------------------------------------------</h6>
    <div id="card">
        <span th:utext="'<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Goat: Name: ' + ${name}  +
              '<br/> Birthday: ' + ${dob} +
              '<br/> Short description: ' + ${shortDescription} +
              '<br/> Long description: ' + ${longDescription} +
              '<br/> Gender: ' + ${gender}"></span>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" th:src="carousel.js"></script>
</body>
</html>