<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:security="http://www.springframework.org/schema/security">
<head>
    <title>Log into GoatGrindr</title>
</head>
<body>
<h1>Welcome To GoatGrindr!!!</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div th:if="${param.login}">
    You have logged in succesfully
</div>
<form th:action="@{/login}" method='post'>
    <div><label> Username: <input type='text' name='username'/> </label></div>
    <br>
    <div><label> Password: <input type='password' name='password'/> </label></div>
    <div><input type="submit" value="Sign in"/></div>
</form>

<h6>---------------------------------------------------------------------------------------</h6>
<h5 th:inline="text">Currently signed in as: [[${#httpServletRequest.remoteUser}]] </h5>
<h6>---------------------------------------------------------------------------------------</h6>
<h5>Already signed in?</h5>
<div>
    <form action="/goatgrindr">
        <button type="submit">Proceed to GoatGrindr</button>
    </form>
</div>
<h6>---------------------------------------------------------------------------------------</h6>
<h5>Not registered yet?</h5>
<div>
    <form action="/creategoat">
        <button type="submit">Create a new goat!</button>
    </form>
</div>
<h6>---------------------------------------------------------------------------------------</h6>
<div>
    <img src="c:url" value="/resources/img/goat.jpg"/>"/>
</div>
   <link rel="stylesheet" href="/generalStylesheet.css">

</body>
</html>
