<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update goat account</title>
    <link rel="stylesheet" type="text/css" href="updateGoatStylesheet.css">
</head>
<body bgcolor="#fff8dc">

<h1> Update Goat account info<img src="https://i.imgur.com/c7DBrec.jpg" class="updatePageGoatPic"></h1>
<div>
    <form action="/login">
        <button type="submit">Cancel/Back to front page</button>
    </form>
</div>
<br>
<div>
    <form action="/goatgrindr">
        <button type="submit">Cancel/Back to Goatgrindr swiping</button>
    </form>
</div>
<br>
<form action="/updateGoat" method="post">
    <td>
        <div class="text">
            <label for="Username">Username: </label>
            <input type="text" placeholder="Contain '@' and 'mail'" name="username" th:value="${username}" id="Username">
        </div>
    </td>
    <br/>
    <br/>
    <td>
        <div class="text">
            <label for="Password">Password: </label>
            <input type="password" name="password" th:value="${password}" id="Password">
        </div>
    </td>
    <br/>
    <br/>
    <td>
        <div class="text">
            <label for="Name">Goat name: </label>
            <input type="text" name="name" th:value="${name}" id="Name">
        </div>
    </td>
    <br/>
    <br/>
    <td>
        <div class="text">
            <label for="DateOfBirth">Date of birth (yyyy-MM-dd): </label>
            <input type="text" placeholder="yyyy-MM-dd"  name="dob" th:value="${dob}" id="DateOfBirth">
        </div>
    </td>
    <br/>
    <br/>
    <br/>
    <td>
        <div class="text">
            <label for="Gender">Gender: </label>
            <input type="text" placeholder="MALE or FEMALE" name="gender" th:value="${gender}" id="Gender">
        </div>
    </td>
    <br/>
    <br/>
    <td>
        <div class="text">
            <label for="shortDescription">Short description: </label>
            <textarea rows="8" cols="80" type="text" name="shortDescription" id="shortDescription"
                      th:text="${shortDescription}"></textarea></div>
    </td>
    <br/>
    <br/>
    <td>
        <div class="text">
            <label for="LongDescription">Long description: </label>
            <textarea rows="8" cols="80" type="text" name="longDescription" id="LongDescription"
                      th:text="${longDescription}"></textarea>
        </div>
    </td>
    <br/>
    <br/>
    <input class = "updateButton" type="submit" value="Update info"/>
</form>
</body>
</html>