<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update goat</title>
    <link rel="stylesheet" href="/generalStylesheet.css">
</head>
<body>

<h1> Update Goat info</h1>

<p th:inline="text">Current username: [[${#httpServletRequest.remoteUser}]]</p>

<form action="/updateGoat" method="post">
    <td>
        <label>Username: </label>
        <input type="text" name="username" th:value="${username}">
    </td>
    <br/>
    <br/>
    <td>
        <label>Password:     </label>
        <input type="text" name="password" th:value="${password}">
    </td>
    <br/>
    <br/>
    <td>
        <label>Name: </label>
        <input type="text" name="name" th:value="${name}">
    </td>
    <br/>
    <br/>
    <td>
        <label>Short description: </label>
        <input type="text" name="shortDescription" th:value="${shortDescription}">
    </td>
    <br/>
    <br/>
    <td>
        <label>Long description: </label>
        <br/>
        <textarea rows="8" cols="80" type="text" name="longDescription" th:text="${longDescription}"></textarea>
    </td>
    <br/>
    <br/>
    <input type="submit" value="Update info"/>
</form>

</body>
</html>